.hex-row {
  display: flex;
}

.hex-row:not(:last-child) {
  /* 0.866 = sqrt(3) / 2 */
  margin-bottom: calc(
    (-0.25 * var(--hex-outer-height)) - (0.866 * var(--path-size))
  );
}

.hex-row:nth-child(even) {
  padding-left: calc(0.5 * (var(--hex-outer-width) - var(--path-size)));
}
